<div class="container mt-5">
  <div class="card mt-4">
    <h5 class="card-header bg-primary text-white">Filter Machines</h5>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="searchMachines()">

        <div class="form-group">
          <label for="machine-name">Machine Name</label>
          <input type="text" id="machine-name" class="form-control" formControlName="name"
                 placeholder="Enter machine name">
        </div>

        <div class="form-group mt-2">
          <label>Status</label>
          <div *ngFor="let status of availableStatuses" class="form-check">
            <input type="checkbox" id="permission{{status}}" formControlName="{{status}}" class="form-check-input">
            <label for="permission{{status}}" class="form-check-label">{{ status }}</label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6 mt-2">
            <label for="date-from">Date From</label>
            <input type="datetime-local" id="date-from" class="form-control" formControlName="dateFrom">
          </div>

          <div class="form-group col-md-6 mt-2">
            <label for="date-to">Date To</label>
            <input type="datetime-local" id="date-to" class="form-control" formControlName="dateTo">
          </div>
        </div>

        <div class="form-group mt-2">
          <button type="submit" class="btn btn-primary btn-block">Filter</button>
        </div>

      </form>
    </div>
  </div>


  <div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-hover">
        <!-- Table headers remain the same -->
        <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Created By</th>
          <th>Active</th>
          <th>Available Actions</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Table rows remain the same -->
        <tr
          *ngFor="let machine of machines | paginate: { id: 'machines', itemsPerPage: size, currentPage: page, totalItems: totalMachines }"
        >
          <td>{{machine.name}}</td>
          <td>{{machine.status}}</td>
          <td>{{machine.createdBy}}</td>
          <td>{{machine.active}}</td>
          <td *ngIf="machine.active">
            <button class="btn btn-success me-2"
                    [disabled]="actionInProgress.get(machine.id) || !actionAllowed(machine.status, 'START')"
                    (click)="$event.stopPropagation(); startMachine(machine.id)">
              Start
            </button>
            <button class="btn btn-success me-2"
                    [disabled]="actionInProgress.get(machine.id) || !actionAllowed(machine.status, 'STOP')"
                    (click)="$event.stopPropagation(); stopMachine(machine.id)">
              Stop
            </button>
            <button class="btn btn-success me-2"
                    [disabled]="actionInProgress.get(machine.id) || !actionAllowed(machine.status, 'RESTART')"
                    (click)="$event.stopPropagation(); restartMachine(machine.id)">
              Restart
            </button>
            <button class="btn btn-danger me-2"
                    [disabled]="actionInProgress.get(machine.id) || !actionAllowed(machine.status, 'DESTROY')"
                    (click)="$event.stopPropagation(); destroyMachine(machine.id)">
              Destroy
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination controls are placed outside the table-responsive container -->
    <pagination-controls id="machines" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
