<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit User</h5>
          <form [formGroup]="form" (ngSubmit)="updateUser()" *ngIf="form">
            <div class="form-group mt-2">
              <label for="firstName">First Name:</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control"
                     [class.is-invalid]="isFieldInvalid('firstName')"
                     required>
              <div *ngIf="isFieldInvalid('firstName')">
                <div *ngIf="form.get('firstName')?.errors?.required">First name is required.</div>
              </div>
            </div>

            <div class="form-group mt-2">
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control" [class.is-invalid]="isFieldInvalid('lastName')"
                     required>
              <div *ngIf="isFieldInvalid('lastName')">
                <div *ngIf="form.get('lastName')?.errors?.required">Last name is required.</div>
              </div>
            </div>

            <div class="form-group mt-2">
              <label for="email">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control" [class.is-invalid]="isFieldInvalid('email')"
                     required>
              <div *ngIf="isFieldInvalid('email')">
                <div *ngIf="form.get('email')?.errors?.required">Email is required.</div>
                <div *ngIf="form.get('email')?.errors?.email">Invalid email format.</div>
              </div>
            </div>

            <div class="form-group mt-2">
              <label>Permissions:</label>
              <div *ngFor="let permission of availablePermissions" class="form-check">
                <input type="checkbox" id="permission{{permission.name}}" formControlName="{{permission.name}}"
                       class="form-check-input">
                <label for="permission{{permission.name}}" class="form-check-label">{{ permission.name }}</label>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
